* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
h1 {
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(255, 20, 130);
}

/**/
.caixa{
    width: 400px;
    max-width: 100%;
    
    
}


button{
    background-color: rgb(255, 20, 130);
}